body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.lista-elem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-word; /* Tördelje a hosszabb szövegeket */
    flex-wrap: wrap;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
    cursor: move;
}
.lista-elem>button{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: rgb(241, 241, 241);
    margin-top: 10px;
    margin-bottom: 10px;
}
.lista-elem>button:hover{
    background-color: darkgrey;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#adatok-listaja {
    display:grid;
    grid-template-columns: 50% 50%;
    list-style-type: none;
    column-gap: 10px;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 600px) {
    #adatok-listaja{
        grid-template-columns: 99%;
        place-content: center;
    }
}

#adat-input {
    font-size: 1.1em;
    width: 100%;
    padding: 8px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 50px;

    transition: .2s ease-in-out;
}
#adat-input:focus{
    outline: #45a049 solid 2px;
}



#hozzaad-gomb {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#hozzaad-gomb:hover {
    background-color: #45a049;
}

#torol-gomb {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#torol-gomb:hover {
    background-color: #d32f2f;
}
.inputmezo{
    max-width: 600px;
}
.newinput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.container{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}











#cookie-notice {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#cookie-notice p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.4;
}

#cookie-notice .btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

#cookie-notice .btn-container button {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

#cookie-notice .btn-container button.accept {
    background-color: #4caf50;
    color: #fff;
}

#cookie-notice .btn-container button.decline {
    background-color: #f44336;
    color: #fff;
}