:root {
  --main-color: #161d2f;
  --two-color: #334457;
  --thir-color: #7b828e;
  --four-color: #f3f0e7;
  --five-color: #e19438;
} 
body{background: rgb(22,29,47);
  background: linear-gradient(153deg, rgba(22,29,47,1) 30%, rgba(36,58,112,1) 100%);
  min-height: 100svh;
  color: var(--four-color);
}

.bevezeto{
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
  text-decoration: wavy;
}

.overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  display: grid;
  place-items: center;
  grid-template-columns: 100%;
}

.overlay-content {
  place-items: center;
  text-align: center;
}
.overlay-content a{
  color: var(--four-color);
  text-decoration: none;
  font-size: 32px;
background:
  linear-gradient(
    to right,
    rgba(100, 200, 200, 0),
    rgba(100, 200, 200, 0)
  ),
  linear-gradient(
    to right,
    rgb(153, 0, 255),
    rgba(255, 0, 180, 1),
    rgb(236, 39, 115)
);
background-size: 100% 3px, 0 3px;
background-position: 100% 100%, 0 100%;
background-repeat: no-repeat;
transition: background-size 200ms;
margin: 8px 0 8px 0;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay a:hover {
  background-size: 0 3px, 100% 3px;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.nav{
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--two-color);
  overflow: hidden;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-column: 100%;
  place-items: center;
  overflow: hidden;
}
.logo{
  justify-self: end;
  padding-right: 5px;
}
.name{
  justify-self: start;
}
@media screen and (max-width: 700px) {
  .nav{
      grid-template-columns: 45% 55%;
  }
  .menu{
      grid-column-start: 1;
      grid-column-end: 3;
      margin-top: 5px;
  }
}
.nav>span{
  width: fit-content;
  color: var(--five-color);
  
  transform: scale(1.2);
}
.nav span:hover{
  animation: scale 1s ease-in-out;
  overflow: hidden;
}
@keyframes scale {
  0%{
    transform: scale(1.2);
      transform: scaleX(1.2);
  }
  50%{
      transform: scaleX(1.8);
  }
  100%{
      transform: scaleX(1.2);
  }


}

.logo{
  max-width: 90px;
  border-radius: 100%;
}

.price-card{
  min-height: 500px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  margin-bottom: 80px;
}
.price-card>.pricesec{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,25%);
  justify-items: center;
}
@media screen and (max-width:1060px) {
  .price-card>.pricesec{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 35px;
    justify-items: center;
  }
}
@media screen and (max-width:570px) {
  .price-card>.pricesec{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 35px;
    justify-items: center;
  }
}

.pricesec>div
{
  min-width: 230px;
  min-height: 350px;
  margin: 2px;
  border-radius: 10px;
  box-shadow: -7px -7px 11px var(--thir-color), 7px 7px 11px var(--two-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: .2s ease-in-out;
}
.pricesec>div:hover{
  box-shadow: -2px -2px 9px var(--thir-color), 2px 2px 9px var(--two-color);
  transform: scale(1.07);
}

.pricebt{
  width: 80%;
  height: 50px;
  background-color: #478fec;
  color: var(--four-color);
  border-radius: 50px;
  border: none;
  font-weight: 500;
  margin-top: 50px;
  box-shadow: 1px 1px 2px #6b6868;
}
.pricebt:is(:active,:hover){
  box-shadow: inset 1px 1px 3px #2b2929;
}