
body{
    background-color: #202020;
    color: #ececec;
    padding: 15px;
}
.head{
    text-align: center;
}
a{
    text-decoration: underline;
    color: #01d2ee;
    font-weight: 600;
}

.cardholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}
.card{
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 6px #cecece;
    padding: 0 15px;
    border-radius: 8px;
}
.cardhead{
    border-bottom: 1px solid #828282;
    text-align: center;
}
.cardhead > .version{
    margin-top: 0;
}
.cardhead > .title{
    margin-bottom: 4px;
}
.cardbody > .descript{
    padding-left: 4px;
}

.cardfoot{
    display: flex;
    border-top: 1px solid #828282;
    justify-content: flex-end;
    align-items: center;
}