body{
    height: 90vh;
    display: grid;
    place-items: center;
    background-color: #444444;
}
.container{
    max-width: 1000px;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
}
form{
    background-color: rgba(0, 98, 143, 0.507);
    padding: 4rem;
    border-radius: 14px;
}
.inputok{
    max-width: 600px;
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    padding: 0px;
    margin: 0px;
}
.inputok>*
{
    width: 35vb;
    justify-self: center;
    height: 30px;
    border: none;
    outline:none;
    font-size:.875em;
    border-radius: 7px;
    border: #b3b3b3 solid 0.5px;
}
.inputok>input{
    background-color: #f7fdff;
}
.inputok>*:is(:focus, :hover){
    outline: rgb(202, 77, 77) solid 1px;
    outline-offset: 2px;
}
.inputok>button{
    background-color: #00a6f3;
    font-size: 16px;
    font-weight: 600;
    color: rgb(8, 0, 46);
}
.inputok>button:is(:focus, :hover){
    background-color: #008be7;
}

.textb{
    color: rgb(224, 224, 224);
}

.inputok>*:nth-child(4){
    height: 40px;
    max-width: 500px;
    
}


.but{
    margin-top: 25px;
    height: 50px;
}
